.Person {
  display: flex;
  flex-direction: column;
}

.personal-info {
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
  clear: both;
}

.personal-info a {
  font-weight: bold;
}

.personal-info img {
  float: right;
  width: 60px;
}

.dark-theme .personal-info a {
  color: #37474f;
}

.light-theme .personal-info a {
  color: #dee4e7;
}

.options button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.dark-theme .options button {
  color: #dee4e7;
  background: #37474f;
}

.light-theme .options button {
  color: #37474f;
  background: #dee4e7;
}
