.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

.App.dark-theme {
  background: #37474f;
}

.App.dark-theme h2 {
  color: #dee4e7;
}

.App.light-theme {
  background: #dee4e7;
}

.App.light-theme h2 {
  color: #37474f;
}
