.MainContent {
  flex: 1;
  text-align: center;
}

.MainContent ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.MainContent ul li {
  width: 400px;
  margin: 0 0 25px 0;
  padding: 20px;
  border-radius: 5px;
}

.dark-theme .MainContent ul li {
  background: #dee4e7;
  color: #37474f;
}

.light-theme .MainContent ul li {
  background: #37474f;
  color: #dee4e7;
}
