.Modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  width: 400px;
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #37474f;
  background: #fff;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .close {
  text-align: right;
  font-size: 10px;
}

.content .close a {
  font-weight: bolder;
  color: #37474f;
  text-decoration: none;
}

.content .inputs {
  margin: 10px 0 20px 0;
}

.content .inputs textarea {
  margin: 0;
  width: 378px;
  padding: 10px;
  color: #37474f;
  background: #dee4e7;
  border: #37474f 1px solid;
  border-radius: 5px;
}

.content .actions {
  text-align: right;
}

.content .actions button {
  margin-left: 5px;
  padding: 5px 10px;
  color: #dee4e7;
  background: #37474f;
  border: none;
  border-radius: 5px;
}
